# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Packages
*.egg
*.egg-info/
dist/
build/
eggs/

# Poetry environment
poetry.lock

# Pytest cache
.cache/
.*cache/

# System-specific files
.DS_Store
.vscode/

# Logs and temp files
*.log
tmp/
